.main-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url("https://www.videogameschronicle.com/files/2019/09/epic-games-store-batman.jpg");
    background-size: contain;
    width: 100%;
}